NUXT_API_BASE_INTERNAL=http://127.0.0.1:4000
NUXT_PUBLIC_API_BASE=http://127.0.0.1:4000
NUXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NUXT_PUBLIC_LEGACY_ADMIN_BASE=http://127.0.0.1:5173
LEGACY_API_BASE=http://127.0.0.1:4100
